:root {
  --color-design: #FF906C;
  --color-research: #EC75FF;
  --color-mixed: #F683B6;
  --color--: #EEEEEE;
  --radius: 240px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: opacity .6s, transform .6s;
  transition-timing-function: ease-in-out;
}

html {
  height: 100%;
  background: var(--color-background);
}

body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-status="loading"] {
  opacity: 0 !important;
}

[data-effect="fade"] {
  opacity: 0 !important;
}

[data-effect="fade-from-bottom"] {
  opacity: 0 !important;
  transform: translateY( calc( var(--radius) * .2 ) );
}

/* [data-status="loading"] */

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
  margin: 1em 0;
}

.kicker {
  letter-spacing: .05em;
  font-weight: 700;
  text-transform: lowercase;
  font-variant: small-caps;
  margin: 0 0 1em;
}

p + p {
  margin-top: 24px;
}

hr {
  border: 0;
  border-top: 2px dotted black;
  height: 0px;
}

a,
button.link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  border-bottom: black solid 2px;
  transition: opacity .4s;
}

h1 .design {
  font-weight: 400;
  border-bottom: solid var( --color-design ) 8px;
}

h1 .research {
  font-weight: 400;
  border-bottom: solid var( --color-research ) 8px;
}

button {
  display: inline-flex;
  border: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  outline: 0;
  transition: opacity .4s;
}

button:hover,
button:focus,
a:hover,
a:focus {
  opacity: .5 !important;
}

img {
  max-width: 100%;
  display: block;
}

article {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  padding: var(--radius) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* transition: opacity 1s; */
}

.container {
  width: 100%;
  padding: 0 calc( var(--radius) * .5 );
  max-width: calc( 800px + var(--radius) );
}

.container + .container {
  margin-top: 96px;
}

.canvas,
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.overlay {
  background-image: url(media/noise.png)
}

.circles {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: rotate;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  backface-visibility: hidden;
  perspective: 1000;
}

/*

BLURRED CIRCLES FROM BOX-SHADOW

.circle {
  position: relative;
  width: 1px;
  height: 1px;
  margin: calc( var(--radius) / 2 );
  border-radius: 50%;
  backface-visibility: hidden;
  perspective: 1000;
  opacity: .9;
}

.circle.design {
  background: var(--color-design);
  box-shadow: 0 0 var(--radius) var(--radius) var(--color-design);
  animation-name: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle.research {
  background: var(--color-research);
  box-shadow: 0 0 var(--radius) var(--radius) var(--color-research);
  animation-name: float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

*/

/*

BLURRED CIRCLES FROM IMAGE

*/

.circle {
  position: relative;
  width: calc( var(--radius) * 4 );
  height: calc( var(--radius) * 4 );
  margin: calc( var(--radius) * -1 );
  backface-visibility: hidden;
  perspective: 1000;
  opacity: .8;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 1s;
}

.circle.design {
  background-image: url(media/design-field-representation.png);
  animation-name: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle.research {
  background-image: url(media/research-field-representation.png);
  animation-name: float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes float {
  0%   { transform: translateX( calc( var(--radius) * 0.0 ) ) translateZ(0) }
  20%  { transform: translateX( calc( var(--radius) * 0.5 ) ) translateZ(0) }
  40%  { transform: translateX( calc( var(--radius) * 1.0 ) ) translateZ(0) }
  60%  { transform: translateX( calc( var(--radius) * 1.5 ) ) translateZ(0) }
  80%  { transform: translateX( calc( var(--radius) * 0.5 ) ) translateZ(0) }
  100% { transform: translateX( calc( var(--radius) * 0.0 ) ) translateZ(0) }
}

@keyframes rotate {
  0%   { transform: rotate( 0deg ) translateZ(0) }
  100% { transform: rotate( 360deg ) translateZ(0)  }
}

.profile {
  width: 144px;
  border-radius: 999px;
  margin: 0 0 1.5em;
  overflow: hidden;
}

footer {
  padding: calc( var(--radius) * .5 ) 0 0;
}

footer ul {
  display: flex;
  flex-direction: column;
}

.annotation {
  margin-top: 96px;
  font-size: 12px;
  opacity: .5;
}

::-moz-selection {
  background: rgba( 0, 0, 0, .15 );
}

::selection {
  background: rgba( 0, 0, 0, .15 );
}

/* PAGES */

.pages {
  position: fixed;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.page-container {
  position: fixed;
  /* top: calc( var(--radius) * .25 ); */
  left: calc( var(--radius) * .25 );
  right: calc( var(--radius) * .25 );
  margin: 0 auto;
  top: 0;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  width: calc( var(--radius) * .25 );
  min-height: calc( var(--radius) * .25 );
  z-index: 1;
  width: 100%;
  max-width: calc( 1280px - calc( var(--radius) * .5 ) );
  pointer-events: none;
}

.pages button[data-close] {
  position: relative;
  top: 0;
  left: 0;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  min-height: 96px;
  opacity: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background: white;
  max-width: calc( 1280px - calc( var(--radius) * .5 ) );
  top: calc( var(--radius) * .25 );
  right: calc( var(--radius) * .25 );
  bottom: calc( var(--radius) * .25 );
  left: calc( var(--radius) * .25 );
  margin: 0 auto;
  transform: translateY( 110vh );
  pointer-events: none;
}

.page .scroll {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.page p {
  font-size: 18px;
}

[data-open]:not( [data-open=""] ) {
  overflow: hidden;
}

[data-open]:not( [data-open=""] ) article {
  opacity: 0;
}

[data-open]:not( [data-open=""] ) .pages {
  pointer-events: all;
}

[data-open]:not( [data-open=""] ) .pages button[data-close] {
  opacity: 1;
}

[data-open]:not( [data-open=""] ) .page {
  transform: translateY( 0 );
  pointer-events: all;
}

#work header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 96px;
  border-bottom: 1px solid var(--color-background);
}

#work header .kicker {
  margin: 0;
}

#work ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: calc( var(--radius) * .5 ) 0 calc( var(--radius) * 1 );
}

#work li {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100%;
  padding: 0 calc( var(--radius) * .25 );
}

#work .info,
#work .media {
  position: relative;
  width: 50%;
}

#work .info {
  padding: 0 0 0 calc( var(--radius) * .25 );
}

#work .media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc( var(--radius) * .25 );
}

#work li + li {
  margin-top: calc( var(--radius) * 1 );
}

#work .info .kicker,
#work .info .details {
  margin: 0;
  color: rgba( 0, 0, 0, .33 );
}

#work .info .kicker .label-design,
#work .info .kicker .label-research {
  margin-right: 1em;
  display: none;
}

#work li[data-design] .info .kicker .label-design {
  display: inline-flex;
}

#work li[data-research] .info .kicker .label-research {
  display: inline-flex;
}

#work .info .kicker .label-design::before {
  content: '●';
  margin-right: .5em;
  color: var(--color-design);
}

#work .info .kicker .label-research::before {
  content: '●';
  margin-right: .5em;
  color: var(--color-research);
}

#work .info .description {
  margin-top: .5em;
}

#work .frame {
  position: absolute;
  top: calc( var(--radius) * .0 );
  right: calc( var(--radius) * .0 );
  bottom: calc( var(--radius) * .0 );
  left: calc( var(--radius) * .0 );
}

#work .frame::before {
  content: '';
  display: flex;
  position: absolute;
  top: calc( var(--radius) * 0 );
  right: calc( var(--radius) * 0 );
  bottom: calc( var(--radius) * 0 );
  left: calc( var(--radius) * 0 );
  opacity: .5;
}

#work .frame::after {
  content: '';
  display: flex;
  position: absolute;
  top: calc( var(--radius) * 0 );
  right: calc( var(--radius) * 0 );
  bottom: calc( var(--radius) * 0 );
  left: calc( var(--radius) * 0 );
  background-image: url(media/noise.png);
  background-size: 100%;
}

#work li[data-design] .frame::before {
  background-color: var(--color-design);
}

#work li[data-research] .frame::before {
  background-color: var(--color-research);
}

#work li[data-design][data-research] .frame::before {
  background-color: var(--color-mixed);
}

#work figure {
  position: relative;
  pointer-events: none;
  max-width: 240px;
  transform: scale(1.25);
  transform-origin: center top;
}

@media (max-width: 960px) {

  #work li {
    flex-direction: column-reverse;
  }

  #work .info,
  #work .media {
    width: 100%;
  }

  #work .info {
    padding: calc( var(--radius) * .25 ) 0 0 0;
  }

  #work figure {
    transform-origin: center bottom;
  }

}


@media (max-width: 640px) {

  :root {
    --radius: 144px;
  }

  body {
    font-size: 18px;
  }

  .container {
    padding: 0 calc( var(--radius) * .25 );
  }

  h1 {
    font-size: 36px;
  }

  .profile {
    width: 100px;
  }

  h1 .design {
    border-bottom: solid var( --color-design ) 4px;
  }

  h1 .research {
    border-bottom: solid var( --color-research ) 4px;
  }

  p + p {
    margin-top: 18px;
  }

  article {
    padding: calc( var(--radius) * .75 ) 0;
  }

  .overlay {
    background-size: 50%;
  }

  #work ul {
    padding: calc( var(--radius) * 1 ) 0 calc( var(--radius) * 1 );
  }

  #work li {
    padding: 0 calc( var(--radius) * .125 );
  }

  #work li + li {
    margin-top: calc( var(--radius) * 1.5 );
  }

  #work figure {
    max-width: 144px;
  }

  #work .frame::after {
    background-size: 50%;
  }

  .page {
    top: calc( var(--radius) * .125 );
    right: calc( var(--radius) * .125 );
    bottom: calc( var(--radius) * .125 );
    left: calc( var(--radius) * .125 );
  }

  .page .description p,
  .page p.details {
    font-size: 16px;
  }

  h2 {
    font-size: 24px;
  }

  .pages button[data-close] {
    width: 64px;
    min-height: 64px;
  }

  #work header {
    min-height: 64px;
  }

}
